.activity-form-container {
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.activity-form {
  max-width: 650px;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
}

