/* ActivityComponent.css */

/* Task Item Container */
.activity-item {
  display: grid;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  box-sizing: border-box;
  grid-template: "title buttons" "details details";
}

/* Hover Effect for Task Items */
.activity-item:hover {
  background-color: #e8e8e8;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

/* Task List Item */
#activityList li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

/* Task Details Styling */
.activity-details {
  flex: 1;
  margin-right: 15px;
  word-break: break-word;
}

.activity-item-details {
  display: none;
  padding-top: 10px;
}
