:root {
  --white: white;

  /* I am using the bootstrap colors as a baseline theme for the app */
  --blue: #007bff;
  --red: #dc3545;
  --green: #198754;
  --yellow: #ffc107;

  /* 
   * NOTE:
   * Using "color-mix" to programatically create different 
   * lightness levels of a given color
   */
  --hover-blue: color-mix(in oklch, var(--blue), black 14%);
  --hover-red: color-mix(in oklch, var(--red), black 14%);
  --hover-green: color-mix(in oklch, var(--green), black 14%);
  --hover-yellow: color-mix(in oklch, var(--yellow), black 14%);
}
